* {
  /*border: solid 1px;*/
}

html, body {
  margin: 0px;
}

#header {
  margin: 0px;
  height: 100vh;
  text-align: center;

  background-image: url(https://pudding.cool/2017/09/clinics/assets/img/gestation-3@2x.png);
  background-size: cover;
  background-attachment: fixed;
}
  h1 {
    padding-top: 15%;
    padding-bottom: 0px;
  }
  #header p {
    padding: 30px;
    padding-top: 5%;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
  }
  #header h6 {
    padding-top: 10%;
  }

/* cp-area */
#cp-area {
  margin-top: 0px;
}
  #cp-area .col-md-6.rank {
    padding: 0px;
  }
  #cp-area .row {
    margin: 0px;
  }
  #cp-area h3 {
    text-align: center;
  }
  #cp-area hr {
    max-width: 50px;
    border: solid 1px #E61A1E;
  }
  #cp-area p {
    font-size: 1em;
    font-family: sans-serif;
    text-align: left;
  }

/* 主視覺介紹文 */
#article-graph {
  background-image: url(img/cp-rank.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0px;
  height: 100vh;
}
  #article-graph .col-md-3 {
    background-color: #c0c0c0;
  }
  #article-graph h3 {
    padding-top: 20%;
    text-align: center;
  }
  #article-graph .row {
    margin: 0px;
  }
  #article-graph hr {
    max-width: 50px;
    border: solid 1px #E61A1E;
  }
  #article-graph p {
    display: inline-block;
    padding-bottom: 5%;
    font-size: 1em;
    font-family: sans-serif;
    text-align: left;
  }

/* 第一象限 */
#part1 {
  background-image: url(img/cp-rank.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0px;
  height: 100vh;
}
  #part1 .col-md-5 {
    background-color: #c0c0c0;
  }
  #part1 h3 {
    padding-top: 5%;
    color: #fff;
  }
  #part1 p {
    display: inline-block;
    padding-bottom: 5%;
    font-size: 1em;
    font-family: sans-serif;
    text-align: left;
  }

/* 第二象限 */
#part2 {
  background-image: url(img/cp-rank.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0px;
  height: 100vh;
}
  #part2 .col-md-5 {
    background-color: #c0c0c0;
  }
  #part2 h3 {
    padding-top: 5%;
    color: #fff;
  }
  #part2 p {
    display: inline-block;
    padding-bottom: 5%;
    font-size: 1em;
    font-family: sans-serif;
    text-align: left;
  }

/* 第三象限 */
#part3 {
  background-image: url(img/cp-rank.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0px;
  height: 100vh;
}
  #part3 .col-md-5 {
    background-color: #c0c0c0;
  }
  #part3 h3 {
    padding-top: 5%;
    color: #fff;
  }
  #part3 p {
    display: inline-block;
    padding-bottom: 5%;
    font-size: 1em;
    font-family: sans-serif;
    text-align: left;
  }

/* 第四象限 */
#part4 {
  background-image: url(img/cp-rank.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0px;
  height: 100vh;
}
  #part4 .col-md-5 {
    background-color: #c0c0c0;
  }
    #part4 h3 {
      padding-top: 5%;
      color: #fff;
    }
    #part4 p {
      display: inline-block;
      padding-bottom: 5%;
      font-size: 1em;
      font-family: sans-serif;
      text-align: left;
    }

/* 結論 */
#end-area {
  margin-top: 0px;
  height: 70vh;
}
  #end-area .row {
    margin: 0px;
  }
  #end-area h2 {
    padding-top: 50px;
  }
  #end-area hr {
    max-width: 50px;
    border: solid 1px #E61A1E;
  }
  #end-area p {
    font-size: 1em;
    font-family: sans-serif;
    text-align: left;
  }

/* 頁面腳 */
#footer {
  margin: 0px;
  height: 30vh;
}
